html {
  box-sizing: border-box;
  font-size: 10px;
  /* background: #ffc600; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: 'Amatic SC', cursive;
}
p{
  color: rgb(255, 255, 255);
  font-size: 50px;
}

#container{
  display:flex;
  width: 100%;
  height: 50%;
  margin: auto;
  text-align: center;
  padding-top: 10%; 
}

#jerry{
  width: 400px;
  height: 400px;
}

#middle{
  width: 50%;
  margin: auto;
  display: block;
  text-align: center;
  position: absolute;
  left:25%;

}
#side{
  float: right;
  margin-left: 45%;
  display: block;
  width: 400px;
  background-color: white;
}
#side p{
  flex: 1;
  font-size: 20px;
  margin: 0px;
  height: 200px;
  color:black;
}
.enemies{
  float: left;
  width: 200px;
  height: 200px;
}
.left{
  width:400px;
  height: 200px;
  margin-left: 5%;
  background-color: white;
}
.left p{
  font-size:20px;
  color:black;
}